name: Release Charm to Edge and Publish Libraries

on:
  push:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - '**.md'
    branches:
      - main
      - track/**

jobs:
  release:
    uses: canonical/observability/.github/workflows/charm-release.yaml@v0
    # See https://github.com/canonical/observability/issues/268
    # secrets: inherit
    secrets:
      CHARMHUB_TOKEN: ${{ secrets.CHARMHUB_TOKEN }}
    with:
      juju-channel: "3/stable"
